* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

nav {
  padding: 15px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  color: #6070ff;
  margin-top: 15px;
  margin-left: 30px;
}

.ham0 {
  margin-top: 6px;
}

.ham {
  width: 25px;
  height: 3px;
  background-color: #6070ff;
  margin: 3px 0;
  border-radius: 3px;
}

body {
  background-color: #e5e5e5;
}

.homepage {
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 0px 90px;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
}

.container0 {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.desktop-nav {
  display: none;
}

.intro {
  font-size: 40px;
  font-weight: bold;
  color: #172b4d;
  margin-top: 61px;
}

.description {
  font-size: 16px;
  text-align: justify;
  line-height: 28px;
  margin-left: 5px;
  margin-right: 5px;
  color: #172b4d;
  margin-bottom: 12px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.icon-list {
  display: flex;
  list-style: none;
  margin-bottom: 68px;
}

.fa {
  color: #505f79;
  margin-right: 10px;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fa-color {
  color: #505f79;
}

.w1contain {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  margin: 100px 20px;
  padding: 20px;
}

.works-title {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
}

.w11contain {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 15px;
}

.spec1 {
  list-style: none;
  color: #344563;
  margin: 16px 0 10px 0;
}

.spec2 {
  margin-left: 30px;
  color: #7a869a;
  margin-top: 16px;
}

.w1par {
  width: 295px;
  height: 76px;
  margin-top: 20px;
  color: #344563;
  font-size: 17px;
}

.w1btn:disabled {
  color: #6070ff;
  font-size: 15px;
  background: #ebebff;
  border: none;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.w1b:disabled {
  margin-left: 10px;
}

.w1btn2 {
  padding: 16px;
  width: 120px;
  margin-bottom: 30px;
  border: 1px solid #396df2;
  color: #396df2;
  background-color: white;
  border-radius: 10px;
  transition: 100ms;
}

.w1btn2:hover {
  border: 1px solid #396df2;
  color: white;
  background-color: #396df2;
  cursor: pointer;
}

.w1btn3 {
  padding: 7px 16px;
  width: 140px;
  height: 47px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid #396df2;
  color: #396df2;
  background-color: white;
  border-radius: 10px;
}

.w1btn3:hover {
  border: 1px solid #396df2;
  color: white;
  background-color: #396df2;
  transition: 100ms;
  cursor: pointer;
}

.section-about-myself-2 {
  width: 100%;
}

.abm-skills-ul {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.abm-skills {
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  grid-column: 1 / 2;
}

.abm-skills-img {
  list-style: none;
  grid-column: 1 / span 2;
  height: 80px;
  display: flex;
  background-color: #f7f7f9;
  margin: 5px 5px;
  border-radius: 10px;
}

.abm-skills-img2 {
  margin: 20px;
}

.abm-skills-img3 {
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  position: relative;
  left: 100px;
  bottom: 55px;
  list-style: none;
}

.abm-img-4 {
  display: none;
}

.abm-skills-arrow {
  list-style: none;
  margin-top: 10px;
  margin-left: 30px;
}

.write {
  color: #344563;
}

.cr-grid {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #e5e5e5;
  width: 100%;
}

.contact-back {
  background-color: white;
}

.contact-form {
  background-image: url(./images/background2.png);
  background-color: #6070ff;
  background-size: cover;
  border-radius: 91.5px 0px 0px 0px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-top: 160px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 38px;
  padding: 0 70px;
  color: white;
}

.contact-input {
  width: 317px;
  height: 38px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  color: #172b4d;
  padding: 10px 15px;
}

.contact-textarea {
  width: 317px;
  height: 160px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  color: #172b4d;
  padding: 10px 15px;
}

.contact-textarea:focus {
  border: 1px solid #6070ff;
}

.contact-button {
  width: 140px;
  height: 48px;
  color: #6070ff;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  align-self: flex-start;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background-color: white;
}

.contact-button:hover {
  background-color: #6070ff;
  border: 1px solid white;
  color: white;
  font-size: 17px;
  transition: 100ms;
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-ind {
  margin-top: 50px;
  margin-bottom: 10px;
}

.snap01 {
  display: none;
}

.about-me-01 {
  background-color: white;
  border-radius: 0px 70px 0px 0px;
}

.list-1 {
  list-style: none;
}

.list-item-1 {
  display: flex;
  justify-content: space-between;
}

.list-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100px;
  list-style: none;
}

.list-item-2 {
  background: #f7f7f9;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.name {
  margin-left: 10px;
  color: #253858;
  font-weight: 500;
  font-size: 15px;
}

.list-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.list-4 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .logo {
    margin-left: 60px;
    margin-top: 10px;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: inherit;
    margin-right: 30px;
  }

  .nav-link {
    text-decoration: none;
    margin-right: 30px;
    color: #344563;
  }

  .homepage {
    height: 768px;
    background-image: url(./images/background_1024.png);
  }

  .home-page {
    width: 870px;
    margin: 0px auto;
  }

  .intro {
    width: 350px;
    height: 122px;
    color: #091e42;
  }

  .description {
    color: #344563;
    margin-bottom: 12px;
  }

  .cr-grid {
    display: flex;
    flex-direction: column;
  }

  .w1contain {
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
  }

  .for-fullscreen {
    margin-left: 50px;
  }

  .for-portfolio {
    margin: 20px 50px;
  }

  .pti {
    display: none;
  }

  .snap01 {
    display: inherit;
  }

  .img13 {
    align-self: flex-start;
  }

  .img24 {
    align-self: flex-end;
  }

  .w1par {
    width: 496px;
  }

  .abm-intro {
    width: 200px;
    height: 114px;
  }

  .section-about-myself {
    width: 40%;
    margin-left: 70px;
  }

  .section-about-myself-2 {
    width: 60%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
  }

  .list-item-1 {
    margin-left: 20px;
  }

  .list-3 {
    margin-left: 20px;
  }

  .list-2 {
    flex-direction: row;
    margin: 25px 10px 30px 10px;
  }

  .list-item-2 {
    width: 100px;
    margin: 10px;
    display: list-item;
    margin-top: -20px;
  }

  .name {
    margin-left: 10px;
  }

  .abm-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .skills-high-resolution {
    display: flex;
  }

  .abm-skills-ul {
    margin-top: 140px;
    grid-template-columns: 4fr 1fr;
  }

  .abm-skills-img {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .abm-skills-img2 {
    margin-left: 0;
    position: relative;
    bottom: 30px;
    right: 17px;
  }

  .abm-skills-img3 {
    display: none;
  }

  .abm-img-4 {
    display: inherit;
    position: relative;
    top: 100px;
  }

  .abm-skills-images4 {
    list-style: none;
    font-weight: 500;
    font-size: 15px;
    color: #253858;
  }

  .img1 {
    position: relative;
    right: 350px;
  }

  .img2 {
    position: relative;
    right: 300px;
  }

  .img3 {
    position: relative;
    right: 230px;
  }

  .contact-form {
    background-image: url(./images/contact-back-high.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-info p {
    width: 569px;
  }

  .contact-button {
    align-self: center;
  }

  .home-ind {
    display: none;
  }
}
