* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

nav {
  padding: 15px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  color: #6070ff;
  margin-top: 5px;
}

.ham0 {
  margin-top: 6px;
}

.ham {
  width: 35px;
  height: 5px;
  background-color: #6070ff;
  margin: 3px 0;
}

.homepage {
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
}

.container0 {
  display: flex;
  justify-content: space-between;
}

.intro {
  font-size: 40px;
  font-weight: bold;
  color: #172b4d;
  margin-top: 125px;
}

.description {
  font-size: 16px;
  text-align: justify;
  line-height: 28px;
  margin-left: 5px;
  margin-right: 5px;
  color: #172b4d;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.icon-list {
  display: flex;
  list-style: none;
}

.fa {
  color: #505f79;
  margin-right: 10px;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fa-color {
  color: #505f79;
}

.w1contain {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  margin: 100px 20px;
  padding: 20px;
}

.works-title {
  color: #172b4d;
  font-weight: bold;
  font-size: 40px;
}

.w11contain {
  display: flex;
  margin-left: 10px;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 15px;
}

.spec1 {
  list-style: none;
  color: #344563;
  margin: 16px 0 10px 0;
}

.spec2 {
  margin-left: 30px;
  color: #7a869a;
  margin-top: 16px;
}

.w1par {
  width: 295px;
  height: 76px;
  margin-top: 20px;
  color: #344563;
  font-size: 17px;
}

.w1btn:disabled {
  color: #6070ff;
  font-size: 15px;
  background: #ebebff;
  border: none;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.w1b:disabled {
  margin-left: 10px;
}

.w1btn2 {
  padding: 16px;
  width: 120px;
  margin-bottom: 30px;
  border: 1px solid #396df2;
  color: #396df2;
  background-color: white;
  border-radius: 10px;
  transition: 100ms;
}

.w1btn2:hover {
  border: 1px solid #396df2;
  color: white;
  background-color: #396df2;
}

.w1btn3 {
  padding: 7px 16px;
  width: 130px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid #396df2;
  color: #396df2;
  background-color: white;
  border-radius: 10px;
}

.w1btn3:hover {
  border: 1px solid #396df2;
  color: white;
  background-color: #396df2;
  transition: 100ms;
}

.abm-skills-ul {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.abm-skills {
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  grid-column: 1 / 2;
}

.abm-skills-img {
  list-style: none;
  grid-column: 1 / span 2;
  height: 80px;
  display: flex;
  background-color: #f7f7f9;
  margin: 5px 5px;
  border-radius: 10px;
}

.abm-skills-img2 {
  margin: 20px;
}

.abm-skills-img3 {
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  position: relative;
  top: 28px;
}

.abm-skills-arrow {
  list-style: none;
  margin-top: 10px;
}

.write {
  margin-top: 10px;
}

.cr-grid {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #e5e5e5;
}

.contact-form {
  background-image: url(./images/background2.png);
  background-color: #6070ff;
  background-size: cover;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-top: 160px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 38px;
  padding: 0 70px;
  color: white;
}

.contact-input {
  width: 317px;
  height: 38px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  color: #172b4d;
  padding: 10px 15px;
}

.contact-textarea {
  width: 317px;
  height: 160px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  color: #172b4d;
  padding: 10px 15px;
}

.contact-textarea:focus {
  border: 1px solid #6070ff;
}

.contact-button {
  width: 140px;
  height: 48px;
  color: #6070ff;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  align-self: flex-start;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background-color: white;
}

.contact-button:hover {
  background-color: #6070ff;
  border: 1px solid white;
  color: white;
  font-size: 17px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-ind {
  margin-top: 50px;
  margin-bottom: 10px;
}

.snap01 {
  display: none;
}

@media screen and (min-width: 1024px){
  
  .homepage {
    height: 768px;
    background-image: url(./images/background_1024.png);
  }

  .home-page {
  width: 870px;
  margin: 100px auto;
  }

  .intro {
    width: 350px;
    height: 122px;
  }

  .description {
    width: 870px;
    height: 60px;
  }

  .w1contain {
    display: flex;
    flex-direction: row;
  }

  .pti {
    display: none;
  }

  .snap01 {
    display: inherit;
  }
}